{
  "repositoryUrl": "https://github.com/texel-sensei/ayayaa",
  "verifyConditions": ["@semantic-release/github"],
  "prepare": [
    {
      "path": "@semantic-release/exec",
      "cmd": "./create_release.sh ${nextRelease.version}"
    }
  ],
  "publish": [
    {
      "path": "@semantic-release/github",
	  "assets": {
		"path": "ayayaa-server-*.zip"
	  }
    }
  ],
}
